<%- include("partials/header.ejs") %>

    <div class="px-4 py-5 my-5 text-center">
        Welcome <br><br><b>Your IP</b>
        <h1 class="display-5 fw-bold text-body-emphasis"><%= ip.addr %></h1>
        <div class="col-lg-6 mx-auto">
            <br>
            <p class="lead mb-4">
                Location: <b><%= ip.city %>, <%= ip.country %></b>
                <span class="fi fi-<%= ip.code %>"></span> 
            </p>
            <div class="mt-5 d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-primary btn-lg px-4 gap-3">IP Whois</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Domain Whois</button>
            </div>
        </div>
    </div>
<%- include("partials/footer.ejs") %>